#variables:
#  HOMEBREW_NO_AUTO_UPDATE: 1

stages:
  - build
# - test

.macos_saas_runners:
  tags:
    - saas-macos-medium-m1
  image: macos-12-xcode-14
  before_script:
    - echo "started by ${GITLAB_USER_NAME}"

build:
  extends:
    - .macos_saas_runners
  stage: build
  script:
    - echo "place holder for build"
    - sudo softwareupdate --install-rosetta --agree-to-license
    - git clone https://gitlab.com/veilid/veilid.git ../veilid
    - curl –proto ‘=https’ –tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
    - source "$HOME/.cargo/env"
    - brew install capnp cmake wabt llvm protobuf openjdk@17 jq
    - cargo install wasm-bindgen-cli wasm-pack cargo-edit
    - sudo gem install cocoapods
    - wget https://storage.googleapis.com/flutter_infra_release/releases/stable/macos/flutter_macos_arm64_3.13.5-stable.zip
    - unzip flutter_macos_arm64_3.13.5-stable.zip && export PATH="$PATH:`pwd`/flutter/bin"
    #- yes | flutter doctor --android-licenses
    - flutter config --enable-macos-desktop --enable-ios
    - flutter config --no-analytics
    - dart --disable-analytics
    - flutter doctor -v
    - flutter build ipa
  when: manual

#test:
#  extends:
#    - .macos_saas_runners
#  stage: test
#  script:
#    - echo "place holder for test"

