[Desktop Entry]
Name=VeilidChat
Comment=VeilidChat Private Messaging
Exec=veilidchat
Icon=app_icon.png
Terminal=false
Type=Application
Categories=Network;
